* {
    background-color: #8dc3f7;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    flex-direction: column;
    display: inline-block;
    font-weight: bold;
    margin: 150px;
    text-align: center;
    box-shadow: 2px 2px 5px 5px #539ee4;
    width: 70% ;
    margin-left: 200px;
    
}

h1{
    text-align: center;
    
    
}

#valor1{
    color: rgb(255, 255, 255);
     background-color: rgb(25, 84, 211);
      border-radius: 10px;
      width: 50px;
      font-weight: bold;
    
}

#valor2{
    color: rgb(255, 255, 255);
    background-color: rgb(25, 84, 211);
    border-radius: 10px;
    width: 50px;
    font-weight: bold;
    

}
input[type="number"] {
    text-align: center; /* Centraliza o texto */


}
 
.container {
    display: flex;
    margin-top: 50px;
    align-items: center; /* Centraliza os itens */
    gap: 10px; /* Espaço entre os elementos */
    justify-items: flex-end;
    justify-content: center;
    
   
}

#resultado {
    display: inline-block;
    border: 2px solid rgb(96, 209, 209);/* Adiciona uma borda preta */
    padding: 0px; /* Espaçamento interno */
    min-width: 200px; /* Define uma largura mínima */
    text-align: center; /* Centraliza o texto */
    font-size: 18px;
    font-weight: bold;
    margin-top: 10%;
    border-radius: 10px;
    color: black;

}

button{
     border-radius: 10px;
}

.botao-voltar {
     
display: inline-block;
padding: 10px ;
background-color: #4ca3f5;
color: white;
text-decoration: none;
border-radius: 5px;
font-weight: bold;
font-size: 19px;
transition: background 0.3s;
margin-bottom: 10px;
align-items: center;
justify-content: center;
/* margin-left: 10px; */
 }

.botao-voltar:hover {
background-color: #165da0;
color: #fff;
}