/*tags de estilo*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #f4d6f8);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
  margin-top: 10px;
}

.nivia { 
color: #f8c4e8;
  text-align: center;
  background: rgb(241, 193, 239);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 100px rgba(198, 122, 241, 0.8);
  max-width: 700px;
  background-color: transparent;
}


a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 10px ;
    padding: 10px;
    background: #dfb9f5;
    color: rgb(3, 3, 3);
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
background-color: #8b15af;
color: #fff;
      }


.centralizado{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.botao-voltar {
     
display: inline-block;
padding: 10px ;
background-color: #c96ec1;
color: white;
text-decoration: none;
border-radius: 5px;
font-weight: bold;
font-size: 19px;
transition: background 0.3s;
margin-bottom: 10px;
 }

.botao-voltar:hover {
background-color: #720494;
color: #fff;
}